@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap');
:root{
    --bg-color: hsl(0, 0%, 98%);
    --text-color: hsl(0, 0%, 41%);
    --title-color: hsl(0, 0%, 8%);
    --font-family: 'Epilogue', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: var(--font-family);
    background-color: var(--bg-color);
}
header{
    height: 100vh;
    margin-left: .75rem;
    margin-right: .75rem;  
    position: relative;
    transition: .4s;
    overflow: hidden;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-family: inherit;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
}
button{
    font-family: inherit;
    cursor: pointer;
}
img{
    max-width: 100%;
    height: auto;
}
/*NAV AREA DESIGN*/
.nav{
    height: 3.5rem;
    position: relative;
    padding: 1rem .75rem;
}
.nav_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_menu{
    position: absolute;
    top: 0;
    right: -150%;
    margin-right: -.75rem;
    background-color: hsla(0, 0%, 8%, .2);
    height: 100vh;
    width: calc(100% + 1.5rem);
    transition: .5s ease-in-out;
}
.nav .open{
    right: 0;
}
.menu_close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem .75rem;
}
.nav_lists{
    position: absolute;
    right: 0;
    width: 70%;
    padding: 6rem 2rem;
    height: 100%;
    background-color: #fff;
}
.nav_item{
    margin-top: 1.5rem;
}
.nav_item .invert{
    transform: rotateZ(180deg);
}
.accordion_items{
    margin-left: 1.5rem;
}
.accordion_items .acc_lists{
    overflow: hidden;
    height: 0;
    transition: .5s ease-in-out;
}
.accordion_items .open_list{
    overflow: auto;
    height: initial;
}
.acc_item{
    margin-top: 1rem;
}
.nav_logon{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.nav_btn{
    width: fit-content;
}