@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap');
:root{
    --bg-color: hsl(0, 0%, 98%);
    --text-color: hsl(0, 0%, 41%);
    --title-color: hsl(0, 0%, 8%);
    --font-family: 'Epilogue', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: var(--font-family);
    background-color: var(--bg-color);
}
header{
    height: 100vh;
    margin-left: .75rem;
    margin-right: .75rem;  
    position: relative;
    transition: .4s;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-family: inherit;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
button{
    font-family: inherit;
    cursor: pointer;
}
img{
    max-width: 100%;
    height: auto;
}
button{
    font-family: inherit;
    cursor: pointer;
}
.header .flow{
    overflow: visible;
}

/*NAV AREA DESIGN*/
.nav{
    height: 3.5rem;
    position: relative;
    padding: 1rem .75rem;
    overflow: hidden;
}
.nav_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_menu{
    position: absolute;
    top: 0;
    right: -150%;
    margin-right: -.75rem;
    background-color: hsla(0, 0%, 8%, .2);
    height: 100vh;
    width: calc(100% + 1.5rem);
    transition: .3s;
}
.nav .open{
    right: 0;
}
.menu_close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem .75rem;
}
.nav_lists{
    position: absolute;
    right: 0;
    width: 70%;
    padding: 6rem 2rem;
    height: 100%;
    background-color: #fff;
}
.nav_item{
    margin-top: 1.5rem;
}
.nav_item .invert{
    transform: rotateZ(180deg);
}
.accordion_items{
    margin-left: 1.5rem;
}
.accordion_items .acc_lists{
    overflow: hidden;
    height: 0;
    transition: .5s ease-in-out;
}
.accordion_items .open_list{
    overflow: auto;
    height: initial;
}
.acc_item{
    margin-top: 1rem;
}
.nav_logon{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    margin-top: 1rem;
}
.nav_btn{
    width: fit-content;
    background-color: transparent;
    width: 100%;
    padding: 1rem 0;
    border-radius: .5rem;
    
}

/*HERO SECTION OF HEADER*/
.hero_sec{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
}
.hero_image{
    width: calc(100% + 1.5rem);
    margin: 0 -.75rem;
}
.hero_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.5rem;
}
.hero_title{
    font-size: 2.15rem;
    font-weight: 700;
}
.hero_desc{
    text-align: center;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
}
.hero_colab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.hero_colab img{
    max-width: 100%;
    min-width: 60px;
}
.hero_btn{
    padding: 1rem 1.75rem;
    font-size: 1rem;
    font-weight: bolder;
    color: #fff;
    font-weight: 400;
    border-radius: 1rem;
    background-color: #000;
    border: none;
}

@media screen and (min-width: 750px){
    .menu_open{
        display: none;
    }
    .menu_close{
        display: none;
    }
    .nav{
        height: 6rem;
        position: relative;
        padding: 3rem .75rem;
        overflow: visible;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    .nav_logo{
        width: fit-content;
        margin-right: 1.5rem;
    }
    .nav_logo img{
        width: 120px;
    }
    .nav_menu{
        position: initial;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: transparent;
        height: auto;
        width: 100%;
        transition: none;
    }
    .nav_list{
        display: flex;
        column-gap: 1.5rem;
        position: relative;
    }
    .nav_item{
        margin-top: 0;
    }
    .accordion_items .open_list{
        overflow: auto;
        height: initial;
        position: absolute;
        top: 1.5rem;
        margin-right: 1.5rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: .5rem 1rem;
    }
    .nav_link{
        display: flex;
        align-items: center;
        column-gap: 1rem;
        font-size: 1.25rem;
    }
    .nav_lists{
        position: initial;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        height: auto;
        background-color: transparent;
    }
    .nav_logon{
        display: flex;
        flex-direction: row;
        column-gap: 1.5rem;
        align-items: center;
        margin-top: 0;
        font-size: 1.25rem;
    }
    .nav_login{
        font-size: 1.2rem;
    }
    .nav_btn{
        font-size: 1.25rem;
        padding: .75rem 2.5rem;
    }

    /*HERO SECTION FOR DESKTOP*/
    .hero_sec{
        display: flex;
        height: calc(100% - 5rem);
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 4rem;
        padding: 6rem;
        height: max-content;
    }
    .hero_content,
    .hero_image{
        flex: 1;
    }
    .hero_content{
        align-self: flex-end;
    }
    .hero_content{
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        align-items: flex-start;
        justify-content: flex-end;
        height: 100%;
    }
    .hero_title{
        font-size: 6rem;
        margin-bottom: 2rem;
    }
    .hero_desc{
        font-size: 1.45rem;
        text-align: left;
        width: 75%;
    }
    .hero_image{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
    }
    .hero_image img{
        max-width: 100%;
        height: auto;
        width: 80%;
    }
    .hero_btn{
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 3rem;
        transition: .4s;
        cursor: pointer;
    }
    .hero_btn:hover{
        border: 1px solid black;
        background-color: transparent;
        color: var(--title-color);
    }
    .hero_colab{
        width: 75%;
    }
    
}